#id,html,body{
  width: 100%;
  height: 100%;
  margin-left:0;
  padding:0;
  overflow: auto;
  /* min-width: 1920px; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  /* position: relative; */
  /* width: 100%; */
  /* height: auto; */
  margin: 0 auto;
}
.clear {
  position: absolute;
  top: 200px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}